<!--div class="container py-5">
    <div class="row ">
  
      @for(item of products; track $index)
      {
        <div class="col">
            <div class="card h-100" style="width:18 rem;">
              <img src="{{item.image}}" class="card-img-top" alt="..">
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.description}}</p>
                <a routerLink="{{item.id}}" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
            </div>
            
      }
    </div>
  </div-->
  
  
  
  
  
  
  
  